<div class="ctrl">
    <div class="clist">
        <span class="title">Debug: </span>
        <mat-slide-toggle class="ui" (change)="debug=!debug; clone();"></mat-slide-toggle>

        <button mat-raised-button style="float:right" class="linkbtn" color="primary"><a href="https://github.com/drawcall/angular-infinite-list/blob/master/demo/src/app/components/demo/demo2.component.html" target="_blank">view code</a></button>
        <button mat-raised-button style="float:right;margin-right:20px;" class="linkbtn" color="warn"><a href="https://github.com/drawcall/angular-infinite-list/wiki/Observable-mode" target="_blank">about useob</a></button>
    </div>
</div>

<div class="vl-con" style="width:900px;">
    <infinitelist
    [height]='200'
    [width]='900'
    [data]='data'
    [debug]='debug'
    [itemSize]='115'
    [scrollDirection]='"horizontal"'
    [useob]='true'
    (update)='update($event)'>
        <div class="li-con li-con-r" *ngFor="let item of event?.items; let i=index;" [ngStyle]="event.getStyle(i)">
            item{{event.start + i}} <br/>
            xxxxxxx <br/>
            xxxxxxx <br/>
        </div>
    </infinitelist>
</div>
