<div class="ctrl">
    <div class="clist">
        <span class="title">Debug: </span>
        <mat-slide-toggle class="ui" (change)="debug=!debug; clone();"></mat-slide-toggle>
    </div>
</div>

<div class="vl-con" style="width:900px;">
    <infinitelist
    [height]='200'
    [width]='900'
    [data]='data'
    [debug]='debug'
    [itemSize]='115'
    [scrollDirection]='"horizontal"'
    (update)='event = $event'>
        <div class="li-con li-con-r" *ngFor="let item of event?.items; let i=index;" [ngStyle]="event.getStyle(i)">
            item{{event.start + i}} <br/>
            xxxxxxx <br/>
            xxxxxxx <br/>
        </div>
    </infinitelist>
</div>
