<div class="ctrl">
    <div class="clist">
        <mat-form-field class="example-full-width">
                <input type="number" matInput [(ngModel)]="scrollOffset" placeholder="Scroll to offset">
        </mat-form-field>
    </div>
</div>

<div class="vl-con">
    <infinitelist
    [width]='"100%"'
    [height]='450'
    [data]='data'
    [scrollOffset]='scrollOffset'
    [itemSize]='120'
    (update)='event = $event'>
        <div class="li-con" *ngFor="let item of event?.items; let i=index;" [ngStyle]="event.getStyle(i)">
            item{{event.start + i}} : {{item|json}}
        </div>
    </infinitelist>
</div>
