<div class="ctrl">
    <div class="clist">
        <span class="title">Debug: </span>
        <mat-slide-toggle class="ui" (change)="debug=!debug; clone();"></mat-slide-toggle>
    </div>
</div>

<div class="vl-con">
    <infinitelist
    [width]='"100%"'
    [height]='500'
    [data]='data'
    [itemSize]='50'
    [debug]='debug'
    (update)='event = $event'>
        <div class="li-con" *ngFor="let item of event?.items; let i=index;" [ngStyle]="event.getStyle(i)">
            item{{event.start + i}} : {{item|json}}
        </div>
    </infinitelist>
</div>
