<div class="ctrl">
    <div class="clist">
        <span class="title">Debug: </span>
        <mat-slide-toggle class="ui" (change)="debug=!debug; clone();"></mat-slide-toggle>
        <span style="margin-left:50px">start: {{event?.start}} | stop: {{event?.stop}} | total: {{data?.length}}</span>

        <button mat-raised-button style="float:right" class="linkbtn" color="primary"><a href="https://github.com/a-jie/angular-infinite-list/blob/master/demo/src/app/components/demo/demo1.component.html" target="_blank">view code</a></button>
    </div>
</div>

<div class="vl-con">
    <infinitelist
    [width]='"100%"'
    [height]='500'
    [data]='data'
    [itemSize]='50'
    [debug]='debug'
    (update)='event = $event'>
        <div class="li-con" *ngFor="let item of event?.items; let i=index;" [ngStyle]="event.getStyle(i)">
            item{{event.start + i}} : {{item|json}}
        </div>
    </infinitelist>
</div>
