<div class="sidebar">
  <div class="list">
    <div class="title">
      Angular infinite list
    </div>
    <hr style="border:0;height:1px;background:#ddd"/>

    <div style="color:#666;font-weight:500;font-size:15px;">
      A tiny but mighty list virtualization library for Angular, with zero dependencies
    </div>
  </div>

  <ul>
    <li routerLinkActive="active" [routerLink]="['/demo1']">Elements of equal height</li>
    <li routerLinkActive="active" [routerLink]="['/demo2']">Horizontal list</li>
    <li routerLinkActive="active" [routerLink]="['/demo3']">Variable heights</li>
    <li routerLinkActive="active" [routerLink]="['/demo4']">Scroll to index</li>
    <li routerLinkActive="active" [routerLink]="['/demo5']">Scroll to offset</li>
  </ul>
</div>
